@import url('https://fonts.googleapis.com/css?family=Unica+One');

html {
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

a, a:focus, a:hover, a:visited, a:link, a:active {
  text-decoration: none;
  color: #2A2C2B;
}

body {
  background: #444;
}

.main {
  width: 100%;
  min-height: 100vh;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Unica One', sans-serif;
}

.appContainer {
  flex: 1;
  width: 100%;
  display: flex;
}